{% extends "base.html" %}

{% load static %}

{% block title %}Oncar{% endblock %}

{% block body-content %}
<div>
    {% comment %}
    <div id="speed_bar" style="background-color:inherit;margin-left:47%;margin-top:10%;width:5%;height:15%;">
        <img src="{% static 'oncar/img/color_bar.png' %}" alt="color_bar"
            style="position:absolute;width:inherit;height:inherit;">
        <div id="speed_bar_mask" style="position:absolute;background-color:inherit;width:inherit;height:inherit">
        </div>
    </div>
    {% endcomment %}

    <div>
        {% include 'gauge.html' %}
    </div>
</div>

<script>
    function speed_show() {
        $.getJSON('/oncar/refresh', {}, function (json) {
            var current_speed = json.current_speed
            var max_speed = json.max_speed
            // svg-modern-gauge
            // speedGauge.setValue(current_speed)
        });
        setTimeout("speed_show()", 100);
    }
    window.onload = speed_show();
</script>
{% endblock body-content %}