{% load static %}
<style>
    @font-face {
        font-family: Titillium;
        src: url({% static 'fonts/Titillium.ttf' %});
    }

    div {
        font-family: Titillium;
    }

    .gauge-unit-text {
        position: absolute;
        top: 65%;
        left: 50%;
        color: gray;
        font-size: 3vmin;
        transform: translate(-50%, -50%);
    }

    .gauge-container {
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .gauge-container>.gauge>.value {
        stroke-width: 10;
    }

    .power-gauges {
        width: 25vw;
        height: 30vw;
        position: relative;
        float: left;
    }

    .power-gauges>.gauge-container>.gauge>.value-text {
        font-size: 8vh;
    }

    .speed-gauges {
        width: 40vw;
        height: 30vw;
        position: relative;
        float: left;
    }

    .speed-gauges>.gauge-container>.gauge>.value-text {
        font-size: 10vh;
    }

    .speed-gauges>.gauge-unit-text {
        top: 70%;
    }

    .soc-gauges {
        width: 25vw;
        height: 30vw;
        position: relative;
        float: left;
    }

    .soc-gauges>.gauge-container>.gauge>.value-text {
        font-size: 8vh;
    }
</style>

<div style="margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 90vw; height: 30vw;">
    <div class="power-gauges">
        <div class="gauge-unit-text">kW</div>
        <div class="gauge-container" id="power-gauge"></div>
    </div>
    <div class="speed-gauges">
        <div class="gauge-unit-text">km/h</div>
        <div class="gauge-container" id="speed-gauge"></div>
    </div>
    <div class="soc-gauges">
        <div class="gauge-unit-text">SOC</div>
        <div class="gauge-container" id="soc-gauge"></div>
    </div>
</div>


<script src="{% static 'svg-modern-gauge/gauge.min.js' %}"></script>

<script>
    var powerGauge = Gauge(
        document.getElementById("power-gauge"), {
            min: 0,
            max: 80,
            color: function (value) {
                if (value < 20) {
                    return "#6a5acd";
                } else if (value < 40) {
                    return "#8a2be2";
                } else if (value < 60) {
                    return "#ba55d3";
                } else {
                    return "#ff00ff";
                }
            }
        }
    );
    var speedGauge = Gauge(
        document.getElementById("speed-gauge"), {
            min: 0,
            max: 80,
            //dialStartAngle: 180,
            //dialEndAngle: 0,
            //value: 0,
            //viewBox: "0 0 100 57",
            color: function (value) {
                if (value < 20) {
                    return "#0187ad";
                } else if (value < 40) {
                    return "#0166aa";
                } else if (value < 60) {
                    return "#0033ff";
                } else {
                    return "#0000ff";
                }
            }
        }
    );
    var socGauge = Gauge(
        document.getElementById("soc-gauge"), {
            min: 0,
            max: 100,
            color: function (value) {
                if (value < 25) {
                    return "#ff4500";
                } else if (value < 50) {
                    return "#ffa500";
                } else if (value < 75) {
                    return "#ffff00";
                } else {
                    return "#00ff7f";
                }
            }
        }
    );
</script>

<script>
    function speed_show() {
        $.getJSON('/oncar/refresh', {}, function (json) {
            var power = json.power
            var speed = json.speed
            var batSoc = json.batSoc
            var mcuTemp = json.mcuTemp
            var motorTemp = json.motorTemp
            var batMaxTemp = json.batMaxTemp
            var resolverFlag = json.resolverFlag
            var currentOverloadFlag = json.currentOverloadFlag
            var voltageOverloadFlag = json.voltageOverloadFlag
            var ctlPointFlag = json.ctlPointFlag
            var voltageUnderloadFlag = json.voltageUnderloadFlag
            var powerLimitFlag = json.powerLimitFlag
            var mcTempFlag = json.mcTempFlag
            var motorTempFlag = json.motorTempFlag
            // svg-modern-gauge
            powerGauge.setValue(power)
            speedGauge.setValue(speed)
            socGauge.setValue(batSoc)
            document.getElementById('mcuTemp').innerHTML = '电控温度: ' + mcuTemp + '℃'
            document.getElementById('motorTemp').innerHTML = '电机温度: ' + motorTemp + '℃'
            document.getElementById('batMaxTemp').innerHTML = '电池温度: ' + batMaxTemp + '℃'
        });
        setTimeout("speed_show()", 95);
    }
    window.onload = speed_show();
</script>