{% extends "base.html" %}

{% load static %}

{% block title %}Oncar{% endblock %}

{% block body-content %}
<div>

    <div>
        {% include 'gauge.html' %}
    </div>
</div>

<script>
    function speed_show() {
        $.getJSON('/oncar/refresh', {}, function (json) {
            var current_speed = json.current_speed
            var max_speed = json.max_speed
            // svg-modern-gauge
            speedGauge.setValue(current_speed)
            // TODO: power-gauge and soc-gauge
        });
        setTimeout("speed_show()", 100);
    }
    window.onload = speed_show();
</script>
{% endblock body-content %}