<style type="text/css">
    .tab {
        display: block;
        float: left;
        height: 6vh;
        width: 33.33vw;
        background: rgb(90, 100, 110);
        border: 2px solid white;
        text-decoration: none;
        text-align: center;
        font-size: 3vh;
    }

    .tab:link,
    .tab:visited {
        color: white;
    }

    .tab:hover,
    .tab:active {
        color: rgb(90, 100, 110);
        background: white;
    }
</style>

<div>
    <a class="tab" href="http://localhost:8000/oncar">车手页</a>
    <a class="tab" href="http://localhost:8000/oncar/devices">设备页</a>
    <a class="tab" href="http://localhost:8000/oncar/poweroff" style="float: right;">关机</a>
</div>