<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- FIXME: download them or delete them -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  {% block css %}
  {% endblock css %}

  {% block scripts %}
  {% endblock scripts %}

  <title>{%block title%}Title{% endblock %}</title>
</head>

<body style="background-color:rgb(10, 20, 30)">

  {% block body-content %}
  body
  {% endblock body-content %}

</body>

</html>