# disable and enable again after modify
# sudo systemctl enable/disable furyTerminal.service

[Unit]
Description = Start furyTerminal Server

[Service]
Type = forking
User = pi
ExecStart = /home/pi/Desktop/furyTerminal/fury r

[Install]
WantedBy = graphical.target