[Desktop Entry]
Type = Application
Comment = Display the UI of furyTerminal/oncar
Exec = chromium-browser --incognito -kiosk "http://localhost:8000/oncar/"