<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {% load static %}
  <!-- Bootstrap CSS -->
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
  <!-- jQuery -->
  <!-- <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script> -->
  <script src="{% static 'jquery-3.3.1.min.js' %}"></script>
  <!-- Bootstrap JS -->
  <!-- <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> -->
  <script src="{% static 'bootstrap.min.js' %}"></script>

  {% block css %}
  {% endblock css %}

  {% block scripts %}
  {% endblock scripts %}

  <title>{%block title%}Title{% endblock %}</title>
  <!--hide cursor-->
  <style>
    html {
      cursor: none;
    }
  </style>
  <script>
    //forbid right-click menu
    document.oncontextmenu = function (event) {
      if (window.event) {
        event = window.event;
      }
      try {
        var the = event.srcElement;
        if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
          return false;
        }
        return true;
      } catch (e) {
        return false;
      }
    }
    // forbid select
    document.onselectstart = function (event) {
      if (window.event) {
        event = window.event;
      }
      try {
        var the = event.srcElement;
        if (!((the.tagName == "INPUT" && the.type.toLowerCase() == "text") || the.tagName == "TEXTAREA")) {
          return false;
        }
        return true;
      } catch (e) {
        return false;
      }
    }
  </script>
</head>

<body style="background-color:rgb(10, 20, 30)">

  {% block body-content %}
  body
  {% endblock body-content %}

</body>

</html>