{% load static %}

<link rel="stylesheet" href="{% static 'gauge/fonts/fonts.css' %}">

<script src="{% static 'old-fashion-gauge/gauge.min.js' %}"></script>

<script>
    if (!Array.prototype.forEach) {
        Array.prototype.forEach = function (cb) {
            var i = 0,
                s = this.length;
            for (; i < s; i++) {
                cb && cb(this[i], i, this);
            }
        }
    }

    document.fonts && document.fonts.forEach(function (font) {
        font.loaded.then(function () {
            if (font.family.match(/Led/)) {
                document.gauges.forEach(function (gauge) {
                    gauge.update();
                    gauge.options.renderTo.style.visibility = 'visible';
                });
            }
        });
    });

</script>


<canvas data-type="radial-gauge" data-width="400" data-height="400" data-units="Km/h" data-title="false"
    data-value="33.77" data-animate-on-init="true" data-animated-value="true" data-min-value="0" data-max-value="220"
    data-major-ticks="0,20,40,60,80,100,120,140,160,180,200,220" data-minor-ticks="2" data-stroke-ticks="false"
    data-highlights="[
            { &quot;from&quot;: 0, &quot;to&quot;: 50, &quot;color&quot;: &quot;rgba(0,255,0,0.95)&quot; },
            { &quot;from&quot;: 50, &quot;to&quot;: 100, &quot;color&quot;: &quot;rgba(255,255,0,0.95)&quot; },
            { &quot;from&quot;: 100, &quot;to&quot;: 150, &quot;color&quot;: &quot;rgba(255,30,0,0.95)&quot; },
            { &quot;from&quot;: 150, &quot;to&quot;: 200, &quot;color&quot;: &quot;rgba(255,0,225,0.95)&quot; },
            { &quot;from&quot;: 200, &quot;to&quot;: 220, &quot;color&quot;: &quot;rgba(0,0,255,0.95)&quot; }
        ]" data-color-plate="#222" data-color-major-ticks="#ccc" data-color-minor-ticks="#333" data-color-title="#fff"
    data-color-units="#ccc" data-color-numbers="#eee" data-color-needle-start="rgba(255, 0, 0, 1)"
    data-color-needle-end="rgba(255, 0, 0, 1)" data-value-box="true" data-animation-rule="bounce"
    data-animation-duration="10" data-font-value="Led" data-font-numbers="Led" width="400" height="400"
    style="width: 400px; height: 400px; visibility: visible;">
</canvas>