<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Dash Board</title>
</head>

<body style="background-color:rgb(12, 65, 109)">
  <div id="speed_bar" style="background-color:inherit;margin-left:47%;margin-top:10%;width:5%;height:15%;">
    <img src="{% static 'oncar/img/color_bar.png' %}" alt="color_bar"
      style="position:absolute;width:inherit;height:inherit;">
    <div id="speed_bar_mask" style="position:absolute;background-color:inherit;width:inherit;height:inherit">
      <script>
        function speed_show() {
          var max = document.getElementById("speed_bar").style.height.slice(0, -1)
          $.getJSON('/oncar/refresh', {}, function (json) {
            var current_speed = json.current_speed
            var max_speed = json.max_speed
            var speed_percent = 1 - current_speed / max_speed;
            document.getElementById("speed_bar_mask").style.height = speed_percent * max + '%';
          });
          setTimeout("speed_show()", 500);
        }
        window.onload = speed_show();
      </script>
    </div>
  </div>
  <h1 style="position:absolute;top:30%;left:36%;color: white;font-size: 16vw">fury!</h1>
</body>

</html>